local:
    password: <password>
    theme_id: "<theme id>"
    store: <store.myshopify.com>
    directory: www

#staging:
#    password: <password>
#    theme_id: "<theme id>"
#    store: <store.myshopify.com>
#    directory: www

#production:
#    password: <password>
#    theme_id: "<theme id>"
#    store: <store.myshopify.com>
#    directory: www
#    readonly: true
