{
    "url": "https://locomotive-boilerplate.myshopify.com",
    "src": "./assets/",
    "dest": "./www/",
    "build": "./build/",
    "styles": {
        "src": "./assets/styles/",
        "dest": "./www/assets/",
        "main": "main",
        "critical": "critical"
    },
    "scripts": {
        "src": "./assets/scripts/",
        "dest": "./www/assets/",
        "main": "app",
        "vendors": {
            "src": "./assets/scripts/vendors/",
            "main": "vendors"
        }
    },
    "svgs": {
        "src": "./assets/images/sprite/",
        "dest": "./www/snippets/"
    },
    "views": {
        "src": "./views/boilerplate/template/"
    }
}
